[submodule "Front-End-Checklist"]
	path = Front-End-Checklist
	url = git@github.com:thedaviddias/Front-End-Checklist.git
[submodule "bestWebsitesAProgrammerShouldVisit"]
	path = bestWebsitesAProgrammerShouldVisit
	url = git@github.com:sdmg15/Best-websites-a-programmer-should-visit.git
[submodule "es6Cheatsheet"]
	path = es6Cheatsheet
	url = git@github.com:DrkSephy/es6-cheatsheet.git
[submodule "theBookOfSecretKnowledge"]
	path = theBookOfSecretKnowledge
	url = git@github.com:Admin-7/Trimstray-The-book-of-secret-knowledge.git
[submodule "FEInterviewQuestions"]
	path = FEInterviewQuestions
	url = git@github.com:h5bp/Front-end-Developer-Interview-Questions.git
